<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static', filename ='style.css')}}">
</head>
<body>
    <h1>PEAK VISION DASHBOARD</h1>
    <h3>Total Subjects: 2</h3>
    <!--<h3>Completed Topics: 0</h3>
    <h3>Pending Topics: 0</h3>-->
    <br><br><br><br><br><br><br>
    <a href="/notes">
        <button>Notes</button>
    </a>
    <a href="/question_bank">
        <button>Question Bank</button>
    </a>
    <a href="/progress">
        <button>Progress</button>
    </a>
</body>
</html>