<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUESTION BANK</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"
</head>
<body>
    <a href="/question_bank">
        <button>All</button>
    </a>
    <a href="/question_bank?subject=DBMS">
        <button>DBMS</button>
    </a>
    <a href="/question_bank?subject=AI">
        <button>AI</button>
    </a>
    <br><br>
    <h1>Question Bank</h1>
    
    {% for question in questions%}
    <div class="card">
        <h3>{{ question[1] }}</h3>
        <p>{{ question[2] }}</p>
        <p>Difficulty: {{ question[3] }}</p>
        <a href="/complete_question/{{ question[0] }}">
            <button>Mark Completed</button>
        </a>
    </div>
    {% endfor %}
    </div>
</body>
</html>